* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

body {
  height: 100vh;
  background-color: bisque;
  place-items: center;
}

img {
  width: 100%;
}

.flex {
  display: flex;
}

/* form {
  margin: 4rem auto;
  width: 40%;
} */

.container {
  border-radius: 0.8rem;
  padding: 10px 5px;
  background-color: White;
  width: 350px;
  margin: 20px auto;
  height: 400px;
  padding: 0px 30px;
}

.container-header {
  width: 80%;
  padding-top: 1.2rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form-section {
  padding-top: 5rem;
}

.phone {
  width: 100%;
  height: 30px;
  gap: 5px;
  /* margin: 50px auto 10px auto; */
}

.phone > input {
  width: 76%;
  border: none;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  padding: 0px 5px;
}

.phone > select {
  width: 22%;
  border: none;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
}

input[type="tel"] {
  border: 0;
  padding-left: 4px;
}
input[type="tel"]:focus {
  border: 0;
  outline: 0;
}

.mobile {
  border: 1px solid grey;
  border-radius: 5px;
  padding: 2px;
  position: relative;
}

.suggestion-list {
  position: absolute;
  top: 2rem;
  background-color: rgb(243, 236, 236);
  transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  max-height: 40vh;
  overflow-y: scroll;
}

.suggestion-list-item {
  font-size: 1.2rem;
  cursor: pointer;
  border-bottom: 1px solid black;
  padding: 0.4rem;
}

.extended {
  width: 100%;
  padding: 0.5rem;
}
.network-logo {
  width: 20px;
}

#Amount {
  width: 80%;
  border: none;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  padding: 0px 5px;
  margin: 5px auto;
}

#button {
  width: 50%;
  border: none;
  outline: none;
  border: 1px solid grey;
  border-radius: 5px;
  height: 30px;
  padding: 0px 5px;
  margin: 5px auto;
  background-color: blue;
  color: aliceblue;
  font-weight: bolder;
}
